<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="public/css/style.css">


</head>
<body>
    <div class="container">
        <div class="text"><h1>
            Login
        </h1></div>
        <%if (message) {%>
            <p class="error"><%=message%></p>
        <%}%>
        <form action="/login" method="POST">
            <div class="data">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="data">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="btn">
                <button type="submit">Login</button>
            </div>
            <div class="signup-link">
                Don't have account? You can register from  <a href="/register">Register</a>
            </div>
        </form>
    </div>      
</body>
</html>