<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Register Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="public/css/style.css">

</head>
<body>
    <div class="container">
        <div class="text">User Register</div>
        <% message.forEach( (elm) => { %>
            <p class="error"><%= elm.msg %></p>
        <%}) %>
        <form action="/register" method="post">
            <div class="data">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="data">
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="data">
                <label for="surname">Surname</label>
                <input type="text" name="surname" id="surname">
            </div>
            <div class="data">
                <label for="number">Number</label>
                <input type="text" name="number" id="number">
            </div>
            <div class="data">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="data">
                <label for="confirmPassword">Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword">
            </div>
            <div class="btn">
                <button type="submit">Register</button>
            </div>
            <div class="signup-link">
                Already a member? <a href="/login">Sign in</a>
            </div>
        </form>
    </div>
</body>
</html>