@import url('https://unpkg.com/@picocss/pico@latest/css/pico.min.css');
form .btn button{
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: #fff; 
   background:#5199E4;
   font-size: 18px;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 1px;
   cursor: pointer;
}
div .logout button{
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: #fff; 
   background:#5199E4;
   font-size: 18px;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 1px;
   cursor: pointer;
  
  padding-left: 50%;
}
form .signup-link{
  text-align: center;
}

form .signup-link a{
  color: #5199E4;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}
   

.container-fluid{
  width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center
}

nav{
  width: 100%; 
  height:50px;
  background:white;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo{
  font-weight:500;
  font-size: 18px;
  color:#34495e;
}

nav .menu a{
  margin:10px 10px ;
  text-decoration: none;
  font-size:18px;
  color: #5199E4;
}

nav .menu a:hover{
  text-decoration: underline;
}

div .container {
  margin-top: 150px;
}
.container-fluid h2,.container-fluid h3{
  font-weight: 400;
}

.container-fluid img{
  width: 200px;
}

.error{
  color: red;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.logout {
  width: 200px;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  top : 40px;
  right : 100px;
}
.tableData{
  margin: 4px;
}